input {
  backdrop-filter: blur(300px);
}


.messages::-webkit-scrollbar-thumb {
  border-radius: .25rem;
} 



.main {
  background-image:
  url("../../assets/chat/blur.png");
  background-repeat: no-repeat;
  background-size: 170vh;
  background-position: bottom;
  position: relative;
  z-index: 1;
}
