input {
  backdrop-filter: blur(300px);
}


.messages::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  background-clip: content-box;
  border-radius: 0rem .75rem 0rem 0rem;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: .25rem;
} 


.main {
  background-image:
  url("../../assets/chat/blur.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
}

