header {
  background-image: linear-gradient(to bottom, rgb(20, 15, 25), transparent 50%),
    url("../../assets/hero/Ellipse 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.grid-wrapper {
  position: relative;
}

.bg-grid + div {
  z-index: 10;
}

.preview-hover {
  position: relative;
}

.preview-hover:hover .hover-container {
  transition: .2s ease;
  backdrop-filter: blur(8px);
  opacity: 1;
  
}

.preview-hover:hover .message-container {
  border-color: transparent;
  transition: .2s ease;
}

.message-container {
  transition: .2s ease;
}

.hover-container {
  transition: .2s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.message-bubble {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
  animation-delay: 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-bubble:nth-child(1) {
  animation-delay: 0.2s;
}

.message-bubble:nth-child(2) {
  animation-delay: 0.8s;
}

.message-bubble:nth-child(3) {
  animation-delay: 1.4s;
}

.fixed-text {
  height: 100px;
  overflow: hidden;
}
