:root {
    --background: #140F19;
    --purple950: #3B0764;
    --purple900: #581C87;
    --purple800: #6B21A8;
    --purple700: #7E22CE;
    --purple600: #9333EA;
    --purple500: #A855F7;
    --purple400: #C084FC;
    --purple300: #D8B4FE;
    --purple200: #E9D5FF;
    --purple100: #F3E8FF;
    --purple50: #FAF5FF;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 33, 43);
    border-radius: 0px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 53, 68);
}